
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>Profile</title>
</head>
<body>
	<h1>Hello</h1>
	<h2> Upload a Pic</h2>
	<form action="/useruploadpic" method="post" enctype="multipart/form-data">
		<label for="inputTitle">Caption</label>
		<input type="text" id="inputTitle" name="title">
		<label for="inputFile">PIC</label>
		<input type="file" name="upl">
		<button type="submit" class="btn btn-danger" value="Upload">Upload</button>
	</form>
</body>